@font-face {
        font-family: 'Muli', sans-serif;
}

body{

	background-color: rgb(22,106,143);
	position: relative;
	overflow: scroll;
}
/*rgb(12,42,72)
https://color.adobe.com/fr/1dcNVE2lmHkq9pDb-color-theme-11817449/edit/?copy=true&base=2&rule=Custom&selected=1&name=Copie%20de%201dcNVE2lmHkq9pDb&mode=rgb&rgbvalues=0.00392156862745098,0,0.14901960784313725,0.0392156862745098,0.23137254901960785,0.3607843137254902,0.08627450980392157,0.41568627450980394,0.5607843137254902,0.37254901960784315,0.6431372549019608,0.6039215686274509,0.7137254901960784,0.8509803921568627,0.7607843137254902&swatchOrder=0,1,2,3,4
rgb(10,59,92)*/
#section1 {padding-top:50px;height:auto;color: azure; background-color: rgb(22,106,143);}
#section2 {padding-top:50px;height:auto;color: azure; background-color: rgb(1,0,38);}
#section3 {padding-top:50px;height:auto;color: azure; background-color: rgb(22,106,143);}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 20px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

#my_dataviz_line_temp {
	margin :auto;
	stroke: steelblue;
	fill: none;
	stroke-width:4px;
}
#my_dataviz_line_extent {
	margin :auto;
	stroke: steelblue;
	fill: none;
	stroke-width:4px;
}

.axisx, .axisy{
	fill: white;
	stroke-width:1px;
	font: 10px sans-serif;
}

.axisy0{
	fill: steelblue;
	stroke-width:1px;
	font: 10px sans-serif;
}

.axisy1{
	fill: red;
	stroke-width:1px;
	font: 10px sans-serif;
}

.textY1{
	color:red;
}

h1{
	color: azure;
	margin-left: 0px;
	font-size: 40px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h2{
	color:azure;
	font-size: 30px;
    font-family: 'Muli', sans-serif;
	text-align: center;
}

footer{
	margin-left: 20px;
	margin-bottom: 20px;
}
a{
	margin-left: 10px;
}
