@font-face {
        font-family : Snow;
        src : url(./fonts/SnowtopCaps.otf);
}

body{
	background-color: navy;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.axisx, .axisy{
	fill: white;
	stroke-width:1px;
}

.axisx text, .axisy text{
	fill: white;
	stroke-width:1px;
}


#my_dataviz{
	width: 50%;
	height: auto;
	float: left;
	/*padding-right:5px*/
}
#my_dataviz_south{
	margin :auto;
	width: 50%;
	height: auto;
	float: right;
	/*padding-right:5px*/
}

#my_dataviz_line_temp { 
	margin :auto;
	stroke: steelblue;
	fill: none;
	width: 50%;
	float: left;
	stroke-width:4px;
}
#my_dataviz_line_extent { 
	margin :auto;
	stroke: steelblue;
	fill: none;
	width: 50%;
	float: right;
	stroke-width:4px;
}

#textTemp{
	stroke: black;
	font: 20px sans-serif;
	font-family: Courier New;

}

#title_h1{
}

#svg_line{
	text-align: center;
}

#svg_north{
	display: block;
	margin: auto;
}
#svg_south{
	display: block;
	margin: auto;
}


h1{
	border-width:2px;
	border-style:dotted;
	border-color:azure;
	border-radius: 10px;
	color: azure;
	margin-left: 0px;
	font-family:Snow;
	font-size: 40px;
}

h2{
	color:azure;
	font-family:Snow;
}

p{
	font-family:Snow;
	font-size: 40px;
	text-align: center;
	color: azure;
}

#text1, #text2{
	border-width:2px;
	border-style:dotted;
	border-color:azure;
	border-radius: 10px;
	margin-left: 1px;
	margin-right: 1px;
}

#title_extent{
	/*float: left;
	text-align: center;
	width: 50%;*/
	display:none;
}

#title_temp{
	/*float: right;
	text-align: center;
	width: 50%;*/
	display:none;
}
