div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

#my_dataviz{
	width: 50%;
	height: auto;
	float: left;
	/*padding-right:5px*/
}
#my_dataviz_south{
	margin :auto;
	width: 50%;
	height: auto;
	float: right;
	/*padding-right:5px*/
}

#my_dataviz_line_temp { 
	margin :auto;
	stroke: steelblue;
	fill: none;
	width: 50%;
	float: left;
}
#my_dataviz_line_extent { 
	margin :auto;
	stroke: steelblue;
	fill: none;
	width: 50%;
	float: right;
}

#textTemp{
	stroke: black;
	font: 20px sans-serif;
	font-family: Courier New;

}

#title_h1{
}

#svg_line{
	text-align: center;
}

#svg_north{
	display: block;
	margin: auto;
}
#svg_south{
	display: block;
	margin: auto;
}


h1{
	border-width:2px;
	border-style:dotted;
	border-color:black;
	color: navy;
	margin-left: 0px;
	font-style: oblique;
	font-family:URW Chancery L, cursive;
}

p{
	font-family:URW Chancery L, cursive;
	font-size: 20px;
	text-align: center;
}

#text1, #text2{
	border-width:2px;
	border-style:dotted;
	border-color:black;
	margin-left: 1px;
	margin-right: 1px;
}